<script type="text/javascript">//<![CDATA[
XHR.poll(1, '<%=url([[admin]], [[services]], [[school]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('school_status');
		if (data && tb) {
			if (data.running) {
				var links = '<em style=\"color:green\"><b> 已开启IPID设置 </b></em>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<em style=\"color:red\"><b> 未启用IPID设置 </b></em>';
			}
		}
	}
);

//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="school_status">
		<em style=\"color:green\"><b> 似乎已开启</b></em>
	</p>
</fieldset>
