<%+header%>
<div class="cbi-map">
    <h2><%:设备激活%></h2>
    <div class="cbi-map-descr">
        <%:请输入授权码。%>
    </div>
    <% if error then %>
    <div class="errorbox"><%:授权码错误，请检查后重试！%></div>
    <% end %>

    <div class="cbi-value">
        <label class="cbi-value-title"><%:机器码%></label>
        <div class="cbi-value-field">
            <input type="text" value="<%=machine_code%>" readonly class="cbi-input-text">
        </div>
    </div>

    <form method="post">
        <div class="cbi-value">
            <label class="cbi-value-title"><%:授权码%></label>
            <div class="cbi-value-field">
                <input type="text" name="authcode" class="cbi-input-text" placeholder="例如：ABCDE12345" required>
            </div>
        </div>
        <div class="cbi-page-actions">
            <button type="submit" class="cbi-button cbi-button-apply"><%:激活设备%></button>
        </div>
    </form>
</div>
<%+footer%>